.homeContainer {
  margin-bottom: 5rem;
}

.listPosts {
  margin-top: 4rem;
  width: fit-content;
  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }

  & + section {
    margin-top: 3rem;
  }

  h1 {
    font-weight: 700;
    font-size: 1.75rem;
  }

  > span {
    display: block;
    font-size: 1.125rem;
    color: var(--gray-100);
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  div {
    display: flex;
    color: var(--gray-100);

    div:first-child {
      margin-right: 1.5rem;
    }
  
    div > span {
      margin-left: 0.5rem;
    }
  }
}

.loadPosts {
  display: block;
  width: fit-content;
  margin-top: 4rem;
  cursor: pointer;
  transition: filter 0.2s;

  font-weight: 600;
  font-size: 1.125;
  color: var(--pink);

  &:hover {
    filter: brightness(0.8);
  }
}
